* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'regular';
    font-size: 14px;
}

@font-face {
    font-family: "Typo";
    src: url("../font/Far-From\ Homecoming.woff");
}

@font-face {
    font-family: 'ralewayRegular';
    src: url("../font/Raleway-Bold.ttf");
}

@font-face {
    font-family: 'semiBold';
    src: url('../font/Raleway-SemiBold.ttf');
}

:root {
    --red: #B11313;
    --yellow: #F1C530;
    --blue: #114C92;
    --back: #000000;
    --white: #ffffff;
}

header {
    background-color: var(--red);
    color: var(--white);
}

header nav a {
    text-decoration: none;
    color: var(--white);
    font-family: 'semiBold';
}

header nav a:hover {
    color: var(--white);
}

.sec-bigTitle h1 {
    margin-left: 25%;
    margin-top: 25%;
    font-size: 90px;
    font-family: 'Typo';
    height: 10%;
    color: var(--white);
}

.bigTitle p {
    margin-left: 25%;
    font-family: 'medium';
    font-size: 30px;
    margin-top: 10%;
    color: var(--white);
}

.sec-bigTitle {
    background-color: var(--yellow);
}

.img-bigTitle {
    transform: rotateY(180deg);
    margin-left: 15%;
}

h2 {
    font-family: 'Typo';
}

.sec-redone {
    padding: 8%;
    background-color: var(--red);
}

.form {
    margin-top: 10%;
}

.form input,
textarea {
    padding: 1% 0% 1% 2%;
    width: 65%;
    border-radius: 15px;
    border: 1px solid var(--white);
    margin-bottom: 3%;
    background-color: transparent;
}

.form ::placeholder {
    color: var(--white);
}

.btn-Envoyer {
    background-color: transparent;
    color: var(--white);
    font-family: 'semiBold';
    border-radius: 15px;
    padding: 2% 10% 2% 10%;
}

.sec-blue {
    padding: 8%;
    background-color: var(--blue);
    color: white;
}

.sec-blue p {
    text-align: justify;
}

.sec-blue button {
    padding: 1% 5% 1% 5%;
    margin-right: 3%;
    border-radius: 15px;
    background-color: transparent;
    color: var(--white);
    font-family: 'medium';
    font-size: 16px;
    margin-left: 5%;
}


/*FOOTER*/

footer {
    background-color: var(--back);
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

footer a:hover {
    color: var(--white);
}

select {
    background-color: #B11313;
    color: var(--white);
    border-radius: 15px;
    padding-right: 8%;
    padding-left: 2%;
    height: 10%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

footer .img {
    border-radius: 50px;
    background-color: var(--red) !important;
    padding: 0.5%;
    margin-right: 1%;
}